<!DOCTYPE html>
<html>
<!-- ビューポートの設定 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <head id="about">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">かいしゃはまだない</a>
					<ul class="nav navbar-nav">
          		<li><%= link_to "なかまになる", forms_new_path %></li>
          </ul>
        </div>
      </div>
    </nav>
  </head>

  <body id="about">
    <div class="container_about">
      <div class="row">
        <div class="col-md-5 col-md-offset-5">
          <p class="lead">
            <a class="square_btn3",<%= link_to "たたかう", pages_recruit_path %></a>
        </div>
      </div>
    </div>
  </body>
</html>
