<!DOCTYPE html>
<html>
	<meta name="viewport" content="width=device-width,initial-scale=1">
  <head id="onegai">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              </button>
              <a class="navbar-brand" href="/">かいしゃはまだない</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><%= link_to "なかまについて", pages_about_path %></li>
                <li><%= link_to "なかまになる", forms_new_path %></li>
              </ul>
            </div>
        </div>
    </nav>
  </head>
<body id="onegai">
    <div class="container4">
      <div class="row">
         <div class="col-md-6 col-md-offset-5">
          <p class="lead">
            <a class="square_btn2",<%= link_to "はい",  forms_new_path %></a>
         </div>
        <div class="col-md-6 col-md-offset-5">
          <p class="lead">
            <a class="square_btn2",<%= link_to "いいえ", pages_last_path %></a>
        </div>
      </div>
    </div>
  </body>
</html>
