<html lang="ja" xml:lang="ja">
<script type="text/javascript">

// APIの読み込み
var tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

// プレーヤーを埋め込む場所指定
var ytArea = 'background';
// 埋め込むYouTube ID指定
var ytID = "qY_cgaZiCXg";

// プレーヤーの埋め込み
function onYouTubeIframeAPIReady() {
    ytPlayer = new YT.Player(ytArea, {
        videoId: ytID,
				playerVars: {
						//左の値は「パラメータの名前」。
						//右の値は「パラメータの値」。
						'modestbranding': 1,
						'autohide': 1,
						'controls': 1,
						'showinfo': 0,
						'rel': 0,
						'autoplay': 1

				},


        events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
        }
    });
}

function onPlayerReady(){

}
//動画の再生状態が変わったときに実行される関数
function onPlayerStateChange(event){

			switch(event.data){
				 case YT.PlayerState.ENDED:

							if( redirectTargetBlank ){
								var redirectATag = document.createElement('a');
								redirectATag.href = redirectUrl;
								redirectATag.target = '_blank';
								document.body.appendChild(redirectATag);
								redirectATag.click();
							}else{
								location.href = redirectUrl;
							}

						break;
				 case YT.PlayerState.PLAYING:
						break;
				 case YT.PlayerState.PAUSED:
						break;
				 case YT.PlayerState.BUFFERING:
						break;
				 case YT.PlayerState.CUED:
						break;
			}
}

var redirectUrl = "http://localhost:3000/pages/onegai";  //あとで変える　＊＊＊＊
var redirectTargetBlank = 0;

 </script>

 <div id="background"></div>
