 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import  "toastr";

 body {
   background-image: url(nakamaninaru.001.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color:#464646;
 }
 /* For mobile devices */
 @media only screen and (max-width: 767px) {
   body {
     background-image: url(nakamaninaru.001.png);
     background-size: cover;
     height:100%;
   }
 	}

#about{
  background-image: url(profile.001.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#000000;
}
@media screen and ( max-width:479px ){
  .about {
    background-image:url(profile.001.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#000000;
  }
}

@media screen and ( max-width:376px ){
  .about {
    background-image:url(profile.001.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color:#000000;
  }
}

#onegai{
  background-image:url(black.png);
}

body{
  min-height:100%;
  color: #fff;
  }

.navbar-default {
    background: transparent;
    border-color: transparent;
    z-index: 10;
    font-family: "MisakiGothic", sans-serif;
    font-size: 30px;
}

.navbar-brand {
    color: #FFF;
    font-size: 30px;
}

@media screen and ( max-width:479px ){
  .navbar-brand {
    font-size: 12px;
  }
}


.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 30px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-devise {
  background: #FFF;
  border-color: #FFF;
  z-index: 10;
  font-family: "MisakiGothic", sans-serif;
}


.navbar-devise_onegai {
  background: #000000;
  border-color: #000000;
  z-index: 10;
  font-family: "MisakiGothic", sans-serif;
}

.navbar-devise .navbar-nav > li > a {
  color: #222222;
  font-size: 30px;
}

.navbar-devise .navbar-brand {
  color: #222222;
}

.body2 {
  color: #222;
  background-color :#FFF;
}

.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    width: 320px;
    height: 90px;
    position: relative;
  }

  @media screen and ( max-width:479px ){
    .square_btn {
      font-size: 18px;
      width: 210px;
      height: 80px;
    }
  }

  .square_btn3 {
      display: inline-block;
      padding: 0.3em 1em;
      text-decoration: none;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
      color: #67c5ff;
      border: solid 2px #67c5ff;
      border-radius: 3px;
      transition: .4s;
      width: 505px;
      height: 100px;
      position: relative;
      top: 600px;
      right:110px;
    }

    @media screen and ( max-width:479px ){
      .square_btn3 {
        font-family: "MisakiGothic", sans-serif;
        font-size: 16px;
        display: flex;
      	align-items: center;
      	justify-content: center;
        width: 365px;
        height: 80px;
        top: 450px;
        left:50px;
        width: 145px;
        height: 48px;

      }
    }


.square_btn:hover {
    background: #67c5ff;
    color: white;
}

.square_btn3:hover {
    background: #67c5ff;
    color: white;
}

.square_btn2:hover {
    background: #67c5ff;
    color: white;
}

.square_btn2 {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: #FFF;
    border: solid 2px #FFF;
    border-radius: 3px;
    transition: .4s;
    width: 320px;
    height: 90px;
    left:200px;
}

@media screen and ( max-width:479px ){
  .square_btn2 {
    font-size: 20px;
    width: 200px;
    height: 80px;
  }
}


.container {
  font-family: "MisakiGothic", sans-serif;
  height: 100%;
  padding-top:200px;
  margin-left: auto;
  margin-right: auto;
}

.container_general {
  font-family: "MisakiGothic", sans-serif;
  height: 100%;
  padding-top:300px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and ( max-width:479px ){
  .container_general {
  padding-top:230px;
  }
}

@media screen and ( max-width:479px ){
  .lead {
    padding-left:80px;
    padding-bottom:50px;

  }
}

.container_about {
  font-family: "MisakiGothic", sans-serif;
  padding-top: 40px;
  padding-right: 40px;
}
.container_onegai {
  padding-top:200px;
  font-family: "MisakiGothic", sans-serif;
}
.container_new {
  font-family: "MisakiGothic", sans-serif;
  height: 100%;
  padding-top:150px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and ( max-width:479px ){
  .container_new  {
    font-family: "MisakiGothic", sans-serif;
    height: 100%;
    padding-top:100px;
    margin-left: auto;
    margin-right: auto;
  }
}

.player {
 position: absolute;
 top:0;
 width: 100%;
 height: 100%;
 background: #FFF;
 z-index: 9999999999;
}

textarea {
  resize: vertical;
  width:300px;
  height:200px;
}

#background,
#background-front {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -1;
}

@media screen and ( max-width:479px ){
  .navbar-default .navbar-nav > li > a {
    font-size: 12px;
    vertical-align: middle;
  }
}

.nav>li {
    float: left;
    display: inline-block;
}
.navbar-nav {
    margin: 0;
}
.navbar-nav>li>a {
    padding-top: 14.5px;
    padding-bottom: 14.5px;
}
