 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import  "toastr";

 body {
   background-image: url(nakamaninaru.001.png);
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color:#464646;
 }
 /* For mobile devices */
 @media only screen and (max-width: 767px) {
   body {
     background-image: url(nakamaninaru.001.png);
   }
 	}


#about{
  background-image:url(profile.001.png);
}
#onegai{
  background-image:url(black.png);
}

body{
  min-height:100%;
  color: #fff;
  }

.jumbotron {
    padding-top: 0px;
    background:url(bagan.001.jpeg);
  font-family: "MisakiGothic", sans-serif;
  margin: 0px 0px 10px 0px;
  max-width : 100% ;
  height : auto ;
  font-size: 30px;

}
.jumbotron1 {
   padding-top: 0px;
   // 背景画像を暗くする
   background:url(model.001.jpeg);
 background-size: cover;
  margin: 0px 0px 10px 0px;
  max-width : 100% ;
  height : auto ;
  font-family: "MisakiGothic", sans-serif;
  font-size: 30px;
}

.jumbotron2 {
   padding-top: 0px;
   // 背景画像を暗くする
   background:url(profile.001.png);
 background-size: cover;
  margin: 0px 0px 0px 0px;
  max-width : 100% ;
  height : auto ;
  font-family: "MisakiGothic", sans-serif;
  font-size: 30px;
}
.jumbotron3 {
   padding-top: 0px;
   // 背景画像を暗くする
  margin: 0px 0px 10px 0px;
  height: 1200px;
  font-family: "MisakiGothic", sans-serif;
  font-size: 30px;
}
.jumbotron5 {
   padding-top: 0px;
    background:url(black.png);
  background-size: cover;
  margin: 0px 0px 0px 0px;
  height: 2000px;
  font-family: "MisakiGothic", sans-serif;
  font-size: 30px;
}
.jumbotron6 {
    padding-top: 0px;
    // 背景画像を暗くする
    background: linear-gradient( rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.05) ), url(bagan.001.png);
	background-size: cover;
	// 背景画像の位置を決める
	background-position: 50% 50%;
	height: 1000px;
  font-family: "MisakiGothic", sans-serif;
  font-size: 20px;
}


.jumbotron_onegai {
  background: #000000;
  border-color: #000000;
}

.jumbotron_registration {
  font-family: "MisakiGothic", sans-serif;
  font-size: 30px;
}

.jumbotron .container .row{
    margin-top: 377px;
}

.jumbotron1 .container{
    margin-right: 100px;
}

.navbar-default {
    background: transparent;
    border-color: transparent;
    z-index: 10;
    font-family: "MisakiGothic", sans-serif;
    font-size: 30px;
}


.navbar-brand {
    color: #FFF;
    font-size: 30px;
}

@media screen and ( max-width:479px ){
  .navbar-brand {
    font-size: 15px;
  }
}


.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 30px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-devise {
  background: #FFF;
  border-color: #FFF;
  z-index: 10;
  font-family: "MisakiGothic", sans-serif;
}


.navbar-devise_onegai {
  background: #000000;
  border-color: #000000;
  z-index: 10;
  font-family: "MisakiGothic", sans-serif;
}

.navbar-devise .navbar-nav > li > a {
  color: #222222;
  font-size: 30px;
}

.navbar-devise .navbar-brand {
  color: #222222;
}

.body2 {
  color: #222;
  background-color :#FFF;
}

.square_btn {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: #67c5ff;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    width: 320px;
    height: 90px;
    position: relative;
  }

  @media screen and ( max-width:479px ){
    .square_btn {
      font-size: 18px;
      width: 210px;
      height: 80px;
    }
  }

  .square_btn3 {
      display: inline-block;
      padding: 0.3em 1em;
      text-decoration: none;
      text-align: center;
      line-height: 75px;
      font-size: 30px;
      color: #67c5ff;
      border: solid 2px #67c5ff;
      border-radius: 3px;
      transition: .4s;
      width: 570px;
      height: 100px;
      position: relative;
      top: 640px;
      right:113px;
    }

.square_btn:hover {
    background: #67c5ff;
    color: white;
}

.square_btn3:hover {
    background: #67c5ff;
    color: white;
}

.square_btn2:hover {
    background: #67c5ff;
    color: white;
}

.square_btn2 {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: #FFF;
    border: solid 2px #FFF;
    border-radius: 3px;
    transition: .4s;
    width: 320px;
    height: 90px;
    left:200px;
}

@media screen and ( max-width:479px ){
  .square_btn2 {
    font-size: 20px;
    width: 200px;
    height: 80px;
  }
}


.container {
  font-family: "MisakiGothic", sans-serif;
  height: 100%;
  padding-top:200px;
  margin-left: auto;
  margin-right: auto;
}

.container1 {
  font-family: "MisakiGothic", sans-serif;
  height: 100%;
  padding-top:300px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and ( max-width:479px ){
  .container1 {
  padding-top:230px;
  }
}

@media screen and ( max-width:479px ){
  .lead {
    padding-left:80px;
    padding-bottom:50px;
  }
}


.container3 {
  font-family: "MisakiGothic", sans-serif;
  padding-top: 40px;
  padding-right: 40px;
}
.container2 {
  padding-top:400px;
  font-family: "MisakiGothic", sans-serif;
}
.container4 {
  padding-top:200px;
  font-family: "MisakiGothic", sans-serif;
}

.container6 {
  font-family: "MisakiGothic", sans-serif;
  height: 100%;
  padding-top:150px;
  margin-left: auto;
  margin-right: auto;
}

.player {
 position: absolute;
 top:0;
 width: 100%;
 height: 100%;
 background: #FFF;
 z-index: 9999999999;
}

textarea {
  resize: vertical;
  width:300px;
  height:200px;
}

#background,
#background-front {
    position: fixed;
    right: 0;
    bottom: 0;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    z-index: -1;
}
