@import "bootstrap-sprockets";
@import "bootstrap";


}

.jumbotron .container .row{
   margin-top: 377px;
}

.navbar-default {
   background: transparent;
   border-color: transparent;
   z-index: 10;
}

.navbar-default {
   background: transparent;
   border-color: transparent;
   z-index: 10;
}

.navbar-default .navbar-nav > li > a {
   color: white;
   font-size: 13px;
}

.navbar-default .navbar-brand {
   color: white;
}

.navbar-default .navbar-toggle .icon-bar {
   background-color: #fff;
}
